@font-face {
  font-family: "Apercu-Condensed";
  src: url("assets/apercu-condensed.otf")
      format("opentype")
}

@font-face {
  font-family: "Apercu-Condensed-Light";
  src: url("assets/apercu-condensed-light.otf")
      format("opentype")
}

@font-face {
  font-family: "Apercu-Condensed-Bold";
  src: url("assets/apercu-condensed-bold.otf")
      format("opentype");
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out; */
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    color: #000;
    font-family: "Apercu-Condensed", Arial, Helvetica, sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* ————————navigation styles————————— */


.dragnav {
  position: fixed;
  width: 92%;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
}

.nav-block {
  margin: 0;
  /* width: fit-content; */
  position: absolute;
  top: 10;
  /* height: fit-content; */
  cursor: pointer;
  display: inline-block;
}

.nav-svg {
  width: 100%;
}

.nav-block.nav-everything {
  left: 0;
  width: 61%;
}

.nav-block.nav-slash {
  left: 55%;
  width: 6%;
}

.nav-block.nav-nothing {
  right: 0;
  width: 39%;
}


.hovering {
  filter: invert(67%) sepia(93%) saturate(1149%) hue-rotate(200deg) brightness(102%) contrast(99%);
}

.dragbox {
  background: #BAAAFE;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top right;
  width: 61%;
  height: 100%;
  -webkit-transition: left 0.9s, width 0.9s;
  -moz-transition: left 0.9s, width 0.9s;
  -o-transition: left 0.9s, width 0.9s;
  transition: left 0.9s, width 0.9s;
}

.dragbox.n {
  left: 61%;
  width: 39%
}


/* —————————main content area——————————————  */
.content {
    position: fixed;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    overflow-y: hidden;

}

.flip-card {
    /* position: relative; */
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card.e {
  transform: rotateY(0deg);
}

.flip-card.n {
  transform: rotateY(180deg);

}

.content-inner {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.content-inner::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}

.content-everything {
  transform: rotateY(0deg);
}

.content-nothing {
    background:#BAAAFE;
    transform: rotateY(180deg);
}


/* grid content———————————————————————— */

.grid {
  height:100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
}

.grid_element {
  max-width: 25%;
  flex: 1 0 25%;
  height: 45%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1%;
  -webkit-transition: max-width 0.4s linear, height 0.4s linear;
  -moz-transition: max-width 0.4s linear, height 0.4s linear;
  -o-transition: max-width 0.4s linear, height 0.4s linear;
  transition: max-width 0.4s linear, height 0.4s linear;
  cursor: pointer;
}

.grid_element:nth-child(4n) {
  border-right: none;
}

.grid_element:nth-last-child(-n+4) {
  border-bottom: none;
}


.grid_element.active {
  max-width: 100%;
  flex: 1 0 100%;
  height: 100%;
  border: none;
  cursor: default;
}

.grid_element.inactive {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
}

.grid_element.blank {
  pointer-events: none;
}

/* ——————————————fullview work styling */
.work_container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  /* position: relative; */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hero {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* when grid is closed, style for thumbnail */
.hero img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.supporting, .fullview {
  display: none;

}

.fullview {
  opacity: 0;
}

.description {
  width: 90%;
  margin: 3% auto 0 auto;
}

h1 {
  font-size: 72px;
  margin-bottom: 1%;
}

h3 {
  display: inline-block;
  margin: 0 1%;
  font-family: 'Apercu-Condensed-Bold', Arial, Helvetica, sans-serif;
}

.description p {
  line-height:1.2;
  font-size: 24px;
  width: 100%;
  max-width: 800px;
  margin: 30px auto 30px auto;
}

.work_images {
  width: 75%;
  margin: 5% auto;
  padding-bottom: 5%;
}

.work_image {
  padding: 2%;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.work_image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.work_image.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll {
  position: absolute;
  top: 1%;
  left: 1%;
}

.scroll-graphic{
  width: 30px;
}

.close{
  font-size: 40px;
  position: sticky;
  top: 2px;
  left: calc(100% - 40px);
  cursor: pointer;
  z-index: 1;
  display: inline-block;

}



/* —————footer styles ———————————————*/

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.f-section {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.f-section.title {
  flex: 2;
}


h4 {
  text-transform: uppercase;
  font-size: 28px;
  margin:0;
  padding-top: 5px;

}

.c h4 {
  font-size: 17px;
  padding-top: 0;
}

.title {
  justify-content: center;
}

.c {
  justify-content: flex-end;
}

.lockup {
  justify-content: flex-start;
}

.lockup img {
  height: 100%;
}

/* pullout drawers————————————————————————— */

.drawer {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.5s ease-in-out;
  display: flex;
  z-index: 5;
}

.programming {
  left: -46%;
  flex-direction: row-reverse;
}

.about {
  right: -46%;
}

.programming.opened {
  box-shadow: 4px 0px 10px rgba(0,0,0,0.3);
  left: 0;
}

.about.opened {
  box-shadow: -4px 0px 10px rgba(0,0,0,0.3);
  right: 0;
}

.pullout-content {
  flex: 1;
  height: 100%;
  background: #BAAAFE;
  scrollbar-width: none;
  overflow-y: scroll;
  padding: 5% 8%;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Apercu-Condensed-Light', Arial, Helvetica, sans-serif;
}

.subhead:first-of-type {
  margin-top: 0;
}

.about .subhead {
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 8%;
}

.about p {
  font-size: 21px;
  margin-bottom: 4%;
  line-height: 1.2;
}

.schedule {
  display: grid;
  width: 100%;
  grid-template-columns: 35% 64%;
}

.schedule div {
  padding: 15px 15px 15px 0;
}

.schedule h3{
  margin: 0;
  display: block;
  padding-bottom: 5px;
}

.event {
  margin: 15px 15px 15px 0;
}

.e-descrip {
  margin: 15px 0px 15px 15px;
}

.schedule p {
  line-height: 1.2;
  margin-bottom: 15px;
}

.event p {
  font-size: 21px;
  line-height: 1;
}

.e-descrip a {
  text-transform: uppercase;
}

.pullout-content p:last-of-type {
  margin-bottom: 8%;
}

.spine {
  width: 8%;
  height: 100%;
  position: relative;
  background: white;
}

.pullout-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-size:28px;
  padding-top: 2px;
  cursor: pointer;
}

.pullout-title:hover {
  color: #BAAAFE;
}

#programming-title {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

#about-title {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(90deg);
}


/* nothing side styles—————————————————————————————————————— */

#nothing-container{
  position:relative;
  height:100%;
  width: 100%;
}

.nothing-images{
  position:absolute;
  width: auto;
  height: auto;
  cursor:move;

  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;

  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transform-style: preserve-3d; */
}

.nothing-images div {
  /* position: absolute;
  max-width: 800px;
  max-height: 900px; */
  width: 45vw;
  /* height: auto; */
  /* height: 100%; */
  display: inline-block;
/* 
  display: flex;
  align-items: center;
  justify-content: center; */

  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  /* cursor: pointer; */

  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
}

/* .nothing-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
} */

.nothing-back {
  background-color: #fff;
  /* -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); */
  padding: 10px;
  margin-top: -5px;
  display: none;
}

.nothing-front img {
  /* width: auto; */
  max-height: 100%;
  max-width: 100%;
  /* height: 100%; */
  /* object-fit: contain; */
  pointer-events: none;
}

.nothing-back p {
  pointer-events: none;
}

/* .nothing-images p {
  width: 90%;
  transform: rotateY(180deg);
  background: #fff;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.mobi {
  display: none;
}

@media screen and (max-device-width:768px), screen and (max-width:768px) {

  .grid_element.active {
    max-width: 100%;
    flex: 1 0 100%;
    height: auto;
    border: none;
    cursor: default;
  }

  .desk {
    display: none;
  }


  /* .mobi {
    display: block;
  } */


  .dragbox {
    width: 55%;
  }

  .nav-block.nav-everything {
    width: 55%;
  }

  .hamburger {
    position: fixed;
    bottom: 0;
    left: 4%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:11;
  }

  .icon {
    font-size: 36.4px;
  }

  .flip-slash {
    margin: 0 10px;
  }

  

  .close {
    font-size: 30px;
    left: calc(100% - 30px);
    top: 2px;
  }

  .scroll-graphic{
    width: 10px;
  }

  .grid_element {
    max-width: 50%;
    flex: 1 0 50%;
  }

  .grid_element:nth-child(4n) {
    border-right: 1px solid #000;
  }
  
  .grid_element:nth-last-child(-n+4) {
    border-bottom: 1px solid #000;
  }

  .grid_element:nth-child(2n) {
    border-right: none;
  }
  
  .grid_element:nth-last-child(-n+2) {
    border-bottom: none;
  }


  .work_images {
    width: 92%;
  }

  h1 {
    font-size: 56px;
    margin-bottom: 25px;
  }

  h3 {
    display: block;
    line-height: 1.2;
  }

  .description {
    width: 90%;
    margin: 0 auto;
  }

  .description p {
    width: 100%;
    font-size: 19px;
  }

  .footer {
    font-family: 'Apercu-Condensed-Light', Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    width: 100%;
    bottom: -3px;
    background: #fff;
    z-index: 10;
  }

  .flip-nav {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flip-nav.a_p {
    transform: rotateY(180deg);
  }

  .flip-nav.risd-gd {
    transform: rotateY(0deg);
  }
 
  .flip-nav-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .risd-gd {
    transform: rotateY(0deg);
  }

  .a_p {
    transform: rotateY(180deg);
  }


  .drawer {
    padding: 7%;
    width: 100%;
    height: 95%;
    background: #BAAAFE;
  }

  .pullout-content {
    padding: 0;
  }

  .programming, .about {
    left: 0;
    bottom: -100%;
  }

  .programming.opened, .about.opened {
    bottom: 0;
    box-shadow: 0px -4px 10px rgba(0,0,0,0.3);
  }

  .pullout-content p:last-of-type {
    margin-bottom: 15%;
  }

  .schedule {
    margin-bottom: 15%;
  }

  .about p {
    font-size: 19px;
  }

  .nothing-images div {
    width: 60vw;
  }

 
}